* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #000000;
  font-family: 'Segoe UI', sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
}

